Source: eeeeee
Section: utils
Priority: optional
Maintainer: Alphabril <alphabril@koodibril.com>
Build-Depends: debhelper-compat (= 13), meson, ninja-build, pkg-config,
               libgtk-4-dev, libevdev-dev, libglib2.0-dev
Standards-Version: 4.6.0
Homepage: https://github.com/AlphaBril/Eeeeee

Package: Eeeeee
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, libgtk-4-1, libevdev2, libglib2.0-0
Description: Eeeeee is a GTK4-powered popup for accent characters